html, body {
  height: 100%;
  width: 100%;
}

body {
  user-select: none;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

#topbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #377e22;
}

#topbar img {
  width: 48px;
  margin: 0 5px;
  vertical-align: middle;
}

#topbar #menu {
  padding: 0px 20px;
  color: white;
}

#topbar #menu ul {
  padding: 0;
  display: flex;
  list-style: none;
}

#topbar #menu ul li {
  margin: 0 10px;
}

#topbar #menu ul li a {
  color: #000;
  text-decoration: none;
}

#mc_embed_signup {
  width: 320px;
  text-align: center;
  margin: 0 auto;
  z-index: 999;
  background: rgb(255 255 255 / 75%);
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
  border-radius: 12px;
  padding-top: 10px;
}

#mc_embed_signup form {
  padding: 0 10px !important;
}

.mc-field-group label {
  margin: 0 0 10px 0 !important;
}

#mc_embed_signup .mc-field-group {
  width: 100% !important;
}

#mc_embed_signup .button {
  background-color: #2d5929 !important;
}

#map { width: 100%; height: calc(100% - 49px); }

